.custom-image-signup{
    height: 400px;
    width: 450px;
    filter: grayscale(75%);
}
.custom-image:hover{
    filter: grayscale(0%);
}
.login-btn{
    background-color: #4b006e;
    color: azure;
}
@media(max-width:768px){
    .custom-image-signup{
        display: none;
    }
}

/* ----------------   login styel --------------- */

.login-inputs{
    position:relative;
}
@media(max-width:768px){
    .login-inputs{
        width: 75% !important;
    }
}
/*------------------------ Investors componen styles ------------------------- */
.para{
    max-width: 58%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    opacity: .75;
}
@media(max-width:768px){
    .para{
        max-width: 100%;
    }
}
.section1{
    background:'#f2ecfd'
}
.heading{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #41246e;
    margin-bottom: 8px !important;
}
.content{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #444;
    padding: 0;
    max-width: 90%;
}

/* ------------------------------ footer styles ---------------------------------- */

.custom-container{
    margin-right: 16px;
}
.custom-footer{
    background: #43165c;
}
.contents{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    text-align: left;
    cursor: pointer;
    margin: 16px 0;
}

.tagline{
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #a09568;
}

.button-container{
    /* margin-left: 12px; */
    margin-bottom: 16px;
}
.image-footer{
    float:left !important;
    margin-right:8rem !important;
    width:232px !important ;
}

@media(max-width:768px){
    .custom-image{
        right: 48px;
    }
    .contents{
        max-width: 85%;
    }
}

/* ---------------------------Investment section styles----------------- */

.custom-input{
    padding: 10px 44px;
    border-radius: 10px;
    border: 1px solid gray;
}
.horizontal{
    width: 250px;
    border: 2px solid #b39ddb;
}
.main-container{
    padding: 20px;
    background-color: #b39ddb;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(2, 22, 43, 0.1);
}
form span{
    position: absolute;
    left: 12px;
    top: 12px;
}
.input-container{
    position: relative;
}
.image-mobile{
    width: 320px;
    height: 500px;
}
@media(max-width:768px){
    .image-mobile{
        width: 240px;
        height: 340px;
    }
}


.uplearn-container{
    z-index: -1;
}